# MedFlow Environment Variables

# Auth Service
RSA_PUBLIC_KEY_PATH=public.pem
RSA_PRIVATE_KEY_PATH=private.pem
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/db_auth

# Global
CORRELATION_ID_ENABLED=true
